* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #13547a 0%, #80d0c7 100%);
}

/* CONTACT HERO */
.contact-hero {
    width: 100%;
  height: 500px;
  background-image: url(/image/contact-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* CONTACT SECTION */
.contact-container {
  margin: 80px 0 80px 0;
  width: 70%;
  margin-left: 15%;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid black; */
}

.contact-container h2 {
  margin: 10px 0 10px 0;
  text-transform: uppercase;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 18px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

textarea[id="message"] {
  font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"] {
  display: inline-block;
  /* background: #16778c; */
  background-color: #16778c;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
  width: 100%;
  left: 50px;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  border: 2px solid #16778c;
  transition: 1s;
}

input[type="submit"]:hover {
  border: 2px solid #16778c;
  background-color: white;
  color: #16778c;
}

.contact a, .phone a, .email a {
  font-size: 18px;
}

.col-25 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* FORM ERROR */
.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
  margin-bottom: 20px;
}

/* VALIDATION */
.validation {
  color: #16778c;
  margin: 10px 0 10px 0;
  font-weight: bold;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
