/*-- SECTIONS --*/
.exhtitle {
  position: relative;
  margin-top: 72px;
  left: 10%;
  width: fit-content;
}
.ex1,
.ex2,
.ex3,
.ex4,
.ex5 {
  position: relative;
  width: 100%;
  height: 514px;
}

.ex1 {
  background-color: white
}

.ex2,
.ex4 {
  background-color: white;
}

.ex3 {
  background: linear-gradient(90deg, #13547a 0%, #80d0c7 100%);
}

.ex5 {
  background-color: white;
  margin-bottom: 152px;
}

/* DETAILS */
.ex-text {
  position: absolute;
  left: 45%;
  top: 13%;
}

.ex3 {
  color: white;
}

.ex-text h2 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.ex-text p {
  width: 450px;
  line-height: 30px;
}

.ex-pic {
  position: absolute;
  background-color: #c4c4c4;
  width: 400px;
  height: 350px;
  /* left: 220px; */
  left: 10%;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  margin-top: 76px;
}

.ex-text a {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.ex-text a {
  color: #16778c;
}

.ex3 a {
  color: white;
}

.ex-text a:hover {
  color: black;
}