/*-- SECTIONS --*/
.exhtitle {
  position: relative;
  margin-top: 72px;
  left: 10%;
  width: fit-content;
}

.ex1,
.ex2,
.ex3,
.ex4,
.ex5 {
  position: relative;
  width: 100%;
  height: 500px;
}

.ex1,
.ex2,
.ex4 {
  background-color: white;
}

.ex3 {
  background: linear-gradient(90deg, #13547a 0%, #80d0c7 100%);
  color: white;
}

.ex5 {
  background-color: white;
  margin-bottom: 152px;
}

.ex-content {
  width: 80%;
  height: 100%;
  left: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
}

.ex-content img {
  height: fit-content;
  margin-top: 6%;
}

.ex-text {
  margin-left: 50px;
  margin-top: 6%;
}

.ex-text p {
  width: 100%;
  line-height: 30px;
  margin-bottom: 10px;
}

.ex-text h2 {
  text-transform: uppercase;
}

.ex-text a {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.ex-text a {
  color: #16778c;
}

.ex3 a {
  color: white;
}

.ex-text a:hover {
  color: black;
}

/* MEDIA SCREEN */
@media screen and (max-width: 900px) {
  .ex1,
  .ex2,
  .ex3,
  .ex4,
  .ex5 {
    height: 800px;
  }
  .ex-content {
    display: table-column;
  }
  .ex-content img {
    margin-left: 9%;
  }
}
