/*-- EXPLORE --*/
.exploretitle {
  position: relative;
  width: fit-content;
  left: 10%;
  margin-top: 72px;
}

.exbox1,
.exbox2,
.exbox3 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.exbox1-text,
.exbox2-text,
.exbox3-text {
  left: 10%;
}

.exbox1-text h2,
.exbox2-text h2,
.exbox3-text h2 {
  font-size: 35px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;


}

.exbox1-text p,
.exbox2-text p,
.exbox3-text p {
  line-height: 30px;
  /* width: 450px; */
  width: 600px;
  margin-top: 10px;

}

.exbox1-pic,
.exbox2-pic,
.exbox3-pic {
  position: absolute;
  width: 400px;
  height: 350px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  left: 60%;
  
}

/*-- EXBOX1 --*/
.exbox1 {
  background: white;
  height: 783px;
  margin-top: 27px;
}

.exbox1-text {
  position: absolute;
  color: black;
  top: 80px;
}

.exbox1-pic {
  top: 217px;
}

/*-- EXBOX2 --*/
.exbox2 {
  background: linear-gradient(90deg, #13547a 0%, #80d0c7 100%);
  height: 652px;
}

.exbox2-text {
  position: absolute;
  color: white;
  top: 160px;
}

.exbox2-pic {
  top: 145px;
}

/*-- EXBOX3 --*/
.exbox3 {
  background: white;
  height: 652px;
}

.exbox3-text {
  position: absolute;
  color: black;
  top: 199px;
}

.exbox3-pic {
  top: 140px;
}

/* MEDIA QUERIES */
@media (max-width: 1212px) {
  .exbox1-text,
  .exbox2-text,
  .exbox3-text {
    width: 450px;
  }
  .exbox1-text p,
  .exbox2-text p,
  .exbox3-text p {
    width: auto;
    height: auto;
  }
  .exbox1-pic,
  .exbox2-pic,
  .exbox3-pic {
    left: 57%;
  }
}

@media (max-width: 900px) {
  .exbox1,
.exbox2,
.exbox3 {
  width: 100%;
}
  .exbox1 {
    height: 1200px;
  }
   .exbox1-pic,
  .exbox2-pic,
  .exbox3-pic {
    left: 10%;
  }
  .exbox1-pic {
   top: 5%;
  }
  .exbox1-text {
    top: 37%;
    width: 80%;
  }
  .exbox2 {
    height: 1000px;
  }
  .exbox2-pic {
    top: 5%;
  }
  .exbox2-text {
    top: 44%;
    width: 80%;
  }
  .exbox3 {
    height: 1000px;
  }
  .exbox3-pic {
    top: 5%;
  }
  .exbox3-text {
    top: 44%;
    width: 80%;
  }
}
