/*-- EXPLORE --*/
.exploretitle {
  position: relative;
  width: 276px;
  height: 106px;
  left: 220px;
  margin-top: 72px;
}

.exbox1,
.exbox2,
.exbox3 {
  position: relative;
  width: 100%;
}

.exbox1-text h2,
.exbox2-text h2,
.exbox3-text h2 {
  font-size: 35px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;
}

.exbox1-text p,
.exbox2-text p,
.exbox3-text p {
  font-size: 20px;
  line-height: 25px;
  width: 450px;
  margin-top: 20px;
}

.exbox1-pic,
.exbox2-pic,
.exbox3-pic {
  position: absolute;
  width: 400px;
  height: 350px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

/*-- EXBOX1 --*/
.exbox1 {
  background: white;
  height: 783px;
  margin-top: 27px;
}

.exbox1-text {
  position: absolute;
  color: black;
  margin-left: 220px;
  top: 80px;
}

.exbox1-pic {
  left: 800px;
  top: 217px;
}

/*-- EXBOX2 --*/
.exbox2 {
  background: linear-gradient(90deg, #13547a 0%, #80d0c7 100%);
  height: 652px;
}

.exbox2-text {
  position: absolute;
  color: white;
  margin-left: 800px;
  top: 160px;
}

.exbox2-pic {
  left: 220px;
  top: 145px;
}

/*-- EXBOX3 --*/
.exbox3 {
  background: white;
  height: 652px;
}

.exbox3-text {
  position: absolute;
  color: black;
  margin-left: 220px;
  top: 199px;
}

.exbox3-pic {
  left: 800px;
  top: 140px;
}
