/*-- TITLE --*/
.get-involved {
  position: relative;
  width: 424px;
  height: 106px;
  left: 10%;
  margin-top: 72px;
  margin-bottom: 28px;
}

/* SECTIONS */
.gi1,
.gi2,
.gi3 {
  position: relative;
  width: 100%;
}

.gi1 {
  height: 600px;
}

.gi2,
.gi3 {
  height: 650px;
}

.gi1,
.gi3 {
  background-color: white;
}

.gi2 {
  background: linear-gradient(90deg, #13547a 0%, #80d0c7 100%);
}

/* CONTENTS */
.gi1-content,
.gi2-content,
.gi3-content {
  position: absolute;
  top: 22%;
  left: 10%;
  display: flex;
  width: 80%;
}

.gi1-text,
.gi2-text,
.gi3-text {
  margin-left: 50px;
  line-height: 25px;
}

.gi1-text {
  margin-top: 4%;
}

.gi2-text {
  margin-top: 1%;
}

.gi3-text {
  margin-top: 4%;
}

.gi1-text p,
.gi2-text p,
.gi3-text p {
  margin: 20px 0 20px 0;
  width: auto;
  height: auto;
  line-height: 30px;
}

.gi2-text {
  color: white;
}

.gi1-text h2,
.gi2-text h2,
.gi3-text h2 {
  text-transform: uppercase;
}

.gi1-text a,
.gi2-text a,
.gi3-text a {
  font-weight: bold;
  font-size: 18px;
}

.gi1-text a,
.gi3-text a {
  color: #13547a;
}

.gi1-text a:hover,
.gi2-text a:hover,
.gi3-text a:hover {
  color: black;
}

.support-img,
.volunteer-img,
.internship-img {
  width: fit-content;
  height: fit-content;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1027px) {
  .gi1, .gi2, .gi3 {
    height: 750px;
  }
}

@media screen and (max-width: 900px) {
  .gi1-content, .gi2-content, .gi3-content {
    flex-direction: column;
  }
  .gi1,
.gi2,
.gi3 {
  height: 1000px;
}
.gi1-content,
.gi2-content,
.gi3-content {
  top: 5%;
}
.gi1-text,
.gi2-text,
.gi3-text {
  margin: 40px 0;
}
}
