/*-- HERO --*/
.responsive {
  width: 100%;
  height: auto;
}

.hero-text h1 {
  position: absolute;
  top: 70%;
  left: 10%;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  background: black;
  width: 100%;
}

/* EXPLORE */
.explore {
  position: relative;
  width: 100%;
  height: 590px;
  background: linear-gradient(90deg, #13547a 0%, #80d0c7 100%);
}

.explore-box {
  position: absolute;
  background-color: white;
  top: 25%;
  left: 10%;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  height: 300px;
  width: 80%;
}

.explore-title h2 {
  position: absolute;
  color: white;
  top: 15%;
  left: 10%;
  text-transform: uppercase;
}

.explore-text p {
  position: absolute;
  width: 90%;
  height: 176px;
  line-height: 30px;
  left: 50px;
  top: 43px;
  color: black;
  font-size: 20px;
}

.learn-more-btn {
  position: absolute;
  display: inline-block;
  background: #16778c;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  padding: 13px;
  height: 50px;
  width: 157px;
  left: 50px;
  top: 70%;
  cursor: pointer;
  transition: 0.3s;
}

.learn-more-btn:hover {
  color: white;
  background: black;
}

/*-- SPECIAL-EVENTS --*/
.special-events img {
  position: relative;
  width: auto;
  height: auto;
  left: 10%;
  top: 60px;
  margin-bottom: 110px;
}

.ev1-img,
.ev2-img,
.ev3-img {
  position: relative;
  height: 400px;
  width: 100%;
}

.ev1-img {
  background-image: url(/image/ev1.png);
}

.ev2-img {
  background-image: url(/image/ev3.png);
}

.ev3-img {
  background-image: url(/image/ev2.png);
}

.ev1-title h2,
.ev2-title h2,
.ev3-title h2 {
  position: absolute;
  left: 0px;
  padding-left: 10%;
  top: 80%;
  color: white;
  background: black;
  width: 100%;
  font-size: 35px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;
}

.ev1,
.ev2,
.ev3 {
  position: relative;
  background: white;
  width: 100%;
  height: 314px;
}

.ev1-text,
.ev2-text,
.ev3-text {
  position: absolute;
  left: 10%;
  width: 950px;
  margin-top: 30px;
  line-height: 30px;
  font-size: 20px;
}

.ev1-btn,
.ev2-btn,
.ev3-btn {
  position: absolute;
  display: inline-block;
  background: black;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  padding: 13px;
  height: 50px;
  width: 157px;
  left: 10%;
  top: 239px;
  cursor: pointer;
  transition: 0.3s;
}

.ev1-btn {
  top: 120px;
}

.ev2-btn,
.ev3-btn {
  top: 150px;
}

.ev1-btn:hover,
.ev2-btn:hover,
.ev3-btn:hover {
  color: black;
  background: white;
  border: 1px solid black;
}
