/*-- HERO --*/
.hero-img {
  width: 100%;
  height: 600px;
  background-image: url(/image/hero-index.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  width: 100%;
  padding-left: 10%;
  background-color: black;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  padding: 5px 0 5px 10%;
}

.hero-bar {
  width: 100%;
  height: auto;
  background-color: black;
}

/* EXPLORE */
.explore {
  position: relative;
  width: 100%;
  height: 500px;
  background: linear-gradient(90deg, #13547a 0%, #80d0c7 100%);
  margin-top: 0;
}

.explore-container {
  background-color: white;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65%;
}

.explore-text {
  width: 100%;
  margin-top: 4%;
  margin-left: 0%;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 30px;
}

.explore-text h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.learn-more-btn {
  position: absolute;
  display: inline-block;
  background: #16778c;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #16778c;
}

.learn-more-btn:hover {
  background-color: white;
  color: #16778c;
}

/*-- SPECIAL-EVENTS --*/
.special-events img {
  position: relative;
  width: auto;
  height: auto;
  left: 10%;
  top: 60px;
  margin-bottom: 110px;
}

.ev1-img,
.ev2-img,
.ev3-img {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  left: 10%;
  width: 80%;
}

.ev1-img {
  background-image: url(/image/ev1.png);
  background-repeat: no-repeat;
}

.ev2-img {
  background-image: url(/image/ev3.png);
  background-repeat: no-repeat;
}

.ev3-img {
  background-image: url(/image/ev2.png);
  background-repeat: no-repeat;
}

.ev1-img:hover,
.ev2-img:hover,
.ev3-img:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}

.event-title h2 {
  position: absolute;
  left: 0px;
  padding-left: 0%;
  top: 80%;
  color: white;
  background: black;
  width: 100%;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.event {
  position: relative;
  background: white;
  width: 80%;
  height: 300px;
  left: 10%;
  margin-top: 20px;
}

.event-text {
  position: absolute;
  width: 100%;
  margin-top: 10px;
  line-height: 30px;
}

.read-more-button {
  position: absolute;
  display: inline-block;
  background: black;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  padding: 10px;
  height: 55px;
  width: 200px;
  cursor: pointer;
  transition: 1s;
  border: 2px solid black;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

.read-more-button:hover {
  color: black;
  background: white;
}

@media screen and (max-width: 900px) {
  .explore-container {
    height: 80%;
  }
}

@media screen and (max-width: 500px) {
  .special-events {
    text-align: center;
  }
  .special-events img {
    left:10px;
  }
  .read-more-button {
    left: 0;
    justify-content: center;
    width: 100%;
  }
}
