/*-- MEDIA-SCREEN --*/
@media screen and (max-width: 1024px) {
  .hero-text h1 {
    padding-left: 50px;
    top: 520px;
  }
  .box1 {
    height: 752px;
  }
  .box1-frame {
    left: 50px;
    width: 90%;
    box-shadow: none;
  }
  .box1 h2 {
    left: 50px;
    top: 150px;
  }
  .box1 p {
    left: 50px;
    width: 80%;
    top: 40px;
  }
  .box1-btn {
    left: 50px;
    top: 240px;
  }
  .special-events img {
    left: 50px;
  }
  .ev1-title h2,
  .ev2-title h2,
  .ev3-title h2 {
    background: black;
    left: 0px;
    margin-top: 330px;
    padding-left: 50px;
  }
  .ev1-text,
  .ev2-text,
  .ev3-text {
    left: 50px;
    width: 90%;
  }
  .ev1-btn {
    top: 150px;
  }
  .ev1-btn,
  .ev2-btn,
  .ev3-btn {
    left: 50px;
  }
  .exploretitle {
    left: 50px;
  }
  .exbox1-text,
  .exbox3-text {
    margin-left: 50px;
  }
  .exbox2-text {
    margin-left: 530px;
  }
  .exbox2-pic {
    left: 50px;
  }
  .exbox1-pic,
  .exbox3-pic {
    left: 580px;
  }
  .exhtitle {
    left: 50px;
  }
  .ex1pic,
  .ex2pic,
  .ex3pic,
  .ex4pic,
  .ex5pic {
    left: 50px;
  }
  .ex1text,
  .ex2text,
  .ex3text,
  .ex4text,
  .ex5text {
    left: 500px;
  }
  .ex1-hyper a,
  .ex2-hyper a,
  .ex3-hyper a,
  .ex4-hyper a,
  .ex5-hyper a {
    left: 500px;
  }
  .vstitle {
    left: 50px;
  }
  .ab1-text {
    left: 50px;
  }
  .ab2-text {
    left: 550px;
  }
  .ab-logo {
    left: 550px;
  }
  .openinghours {
    left: 50px;
  }
  .location {
    left: 550px;
  }
  .admission {
    left: 50px;
  }
  .access {
    left: 550px;
  }
  .shop {
    left: 50px;
  }
  .foodndrink {
    left: 50px;
  }
  .v4pic,
  .v5pic {
    left: 550px;
  }
  .get-involved {
    left: 50px;
  }
  .gi1-text,
  .gi3-text {
    left: 50px;
  }
  .gi2-text {
    left: 500px;
  }
  .gi1-pic,
  .gi3-pic {
    left: 580px;
  }
  .gi2-pic {
    left: 50px;
  }
  .about {
    left: 50px;
  }
  .socials {
    left: 220px;
  }
  .fhours {
    left: 410px;
  }
  .contact {
    left: 720px;
  }
  .copyright {
    left: 340px;
  }
}

/*-- MEDIA-SCREEN --*/
@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .box1 p {
    font-size: 18px;
  }
  .ev1-title h2,
  .ev2-title h2,
  .ev3-title h2 {
    font-size: 25px;
  }
  .ev1-text,
  .ev2-text,
  .ev3-text {
    font-size: 18px;
  }
  .exbox1-text p,
  .exbox2-text p,
  .exbox3-text p {
    font-size: 18px;
  }
}
