* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/*-- HEADER-NAVIGATION --*/
.topnav {
  overflow: hidden;
  background: black;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 35px 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.topnav a:hover {
  color: cyan;
}

.topnav a.active {
  color: cyan;
}

.topnav .icon {
  display: none;
}

/*-- HERO --*/
.hero {
  background-image: url(/image/hero1.png);
  position: relative;
  width: 100%;
  height: 500px;
}

.logo img {
  position: absolute;
  top: 10px;
}

.hero-text h1 {
  position: absolute;
  top: 420px;
  left: 220px;
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}

.box1 {
  position: relative;
  width: 100%;
  height: 652px;
  background: linear-gradient(90deg, #13547a 0%, #80d0c7 100%);
}

.box1-frame {
  position: absolute;
  background: white;
  width: 1000px;
  height: 330px;
  top: 186px;
  left: 220px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

.box1 h2 {
  position: absolute;
  color: white;
  top: 145px;
  left: 220px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}

.box1 p {
  position: absolute;
  width: 886px;
  height: 176px;
  line-height: 30px;
  left: 50px;
  top: 43px;
  color: black;
  font-size: 20px;
}

.box1-btn {
  position: absolute;
  background: linear-gradient(90deg, #13547a 0%, #80d0c7 100%);
  border-radius: 5px;
  height: 50px;
  width: 157px;
  left: 50px;
  top: 239px;
  text-align: center;
  cursor: pointer;
}

.box1-btn a {
  position: absolute;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
  line-height: 20px;
  font-size: 18px;
  left: 7.64%;
  right: 7.01%;
  top: 30%;
  bottom: 30%;
}

.box1-btn a:hover {
  color: cyan;
}

/*-- SPECIAL-EVENTS --*/
.special-events img {
  position: relative;
  width: 478px;
  height: 106px;
  left: 220px;
  top: 60px;
  margin-bottom: 110px;
}

.ev1-img,
.ev2-img,
.ev3-img {
  position: relative;
  background: cyan;
  height: 400px;
  width: 100%;
}

.ev1-img {
  background-image: url(/image/ev1.png);
}

.ev2-img {
  background-image: url(/image/ev3.png);
}

.ev3-img {
  background-image: url(/image/ev2.png);
}

.ev1-title h2,
.ev2-title h2,
.ev3-title h2 {
  position: absolute;
  left: 220px;
  margin-top: 340px;
  color: white;
  background: black;
  width: auto;
  font-size: 35px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;
}

.ev1,
.ev2,
.ev3 {
  position: relative;
  background: white;
  width: 100%;
  height: 314px;
}

.ev1-text,
.ev2-text,
.ev3-text {
  position: absolute;
  left: 220px;
  width: 950px;
  margin-top: 30px;
  line-height: 30px;
  font-size: 20px;
}

.ev1-btn,
.ev2-btn,
.ev3-btn {
  position: absolute;
  background: black;
  border-radius: 5px;
  height: 50px;
  width: 157px;
  left: 220px;
  text-align: center;
}

.ev1-btn {
  top: 120px;
}

.ev2-btn,
.ev3-btn {
  top: 150px;
}

.ev1-btn a,
.ev2-btn a,
.ev3-btn a {
  position: absolute;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
  line-height: 20px;
  font-size: 18px;
  left: 7.64%;
  right: 7.01%;
  top: 30%;
  bottom: 30%;
  cursor: pointer;
}

.ev1-btn a:hover,
.ev2-btn a:hover,
.ev3-btn a:hover {
  color: cyan;
}

/*-- EXPLORE --*/
.exploretitle {
  position: relative;
  width: 276px;
  height: 106px;
  left: 220px;
  margin-top: 72px;
}

.exbox1,
.exbox2,
.exbox3 {
  position: relative;
  width: 100%;
}

.exbox1-text h2,
.exbox2-text h2,
.exbox3-text h2 {
  font-size: 35px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;
}

.exbox1-text p,
.exbox2-text p,
.exbox3-text p {
  font-size: 20px;
  line-height: 25px;
  width: 450px;
  margin-top: 20px;
}

.exbox1-pic,
.exbox2-pic,
.exbox3-pic {
  position: absolute;
  width: 420px;
  height: 362px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

/*-- EXBOX1 --*/
.exbox1 {
  background: white;
  height: 783px;
  margin-top: 27px;
}

.exbox1-text {
  position: absolute;
  color: black;
  margin-left: 220px;
  top: 80px;
}

.exbox1-pic {
  left: 800px;
  top: 103px;
}

/*-- EXBOX2 --*/
.exbox2 {
  background: black;
  height: 652px;
}

.exbox2-text {
  position: absolute;
  color: white;
  margin-left: 800px;
  top: 160px;
}

.exbox2-pic {
  left: 220px;
  top: 145px;
}

/*-- EXBOX3 --*/
.exbox3 {
  background: white;
  height: 652px;
}

.exbox3-text {
  position: absolute;
  color: black;
  margin-left: 220px;
  top: 199px;
}

.exbox3-pic {
  left: 800px;
  top: 140px;
}

/*-- EXHIBITIONS --*/
.exhtitle {
  position: relative;
  margin-top: 72px;
  left: 220px;
}
.ex1,
.ex2,
.ex3,
.ex4,
.ex5 {
  position: relative;
  width: 100%;
  height: 514px;
}
.ex1 {
  background-color: white;
  margin-top: 0px;
}

.ex2,
.ex4 {
  background-color: white;
}

.ex3 {
  background: linear-gradient(90deg, #13547a 0%, #80d0c7 100%);
}

.ex5 {
  background-color: white;
  margin-bottom: 152px;
}

.ex1text,
.ex2text,
.ex3text,
.ex4text,
.ex5text {
  position: absolute;
  left: 685px;
  top: 67px;
}

.ex3text {
  color: white;
}

.ex1text h2,
.ex2text h2,
.ex3text h2,
.ex4text h2,
.ex5text h2 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}

.ex1text p,
.ex2text p,
.ex3text p,
.ex4text p,
.ex5text p {
  width: 450px;
  line-height: 30px;
  font-size: 20px;
}

.ex1pic,
.ex2pic,
.ex3pic,
.ex4pic,
.ex5pic {
  position: absolute;
  background-color: #c4c4c4;
  width: 420px;
  height: 362px;
  left: 220px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  margin-top: 76px;
}

.ex1-hyper a,
.ex2-hyper a,
.ex3-hyper a,
.ex4-hyper a,
.ex5-hyper a {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  left: 685px;
  font-size: 20px;
}

.ex1-hyper a,
.ex2-hyper a,
.ex4-hyper a,
.ex5-hyper a {
  color: #50c9c3;
}

.ex3-hyper a {
  color: #96deda;
}

.ex1-hyper a:hover,
.ex2-hyper a:hover,
.ex3-hyper a:hover,
.ex4-hyper a:hover,
.ex5-hyper a:hover {
  color: black;
}

.ex1-hyper a,
.ex3-hyper a {
  top: 380px;
}

.ex2-hyper a {
  top: 350px;
}

.ex4-hyper a {
  top: 320px;
}

.ex5-hyper a {
  top: 410px;
}

/*-- VISIT-US --*/
.vhero {
  position: relative;
  width: 100%;
  height: 500px;
}

.vstitle {
  position: relative;
  margin-top: 36px;
  width: 272px;
  height: 106px;
  left: 220px;
}

.about1 {
  position: relative;
  background: white;
  width: 100%;
  height: 500px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.ab1-text,
.ab2-text {
  position: absolute;
  color: black;
  line-height: 30px;
  width: 450px;
  top: 29px;
  font-size: 20px;
}

.ab1-text {
  left: 220px;
}

.ab2-text {
  left: 800px;
}

.ab-img {
  position: relative;
  background: #cccccc;
  width: 100%;
  height: 400px;
}

.ab-logo {
  position: absolute;
  top: 320px;
  left: 800px;
}

.v2,
.v3,
.v4,
.v5 {
  position: relative;
  width: 100%;
  height: 477px;
}

.v3 {
  background: black;
}

.v2,
.v4,
.v5 {
  background-color: white;
}

.v4pic,
.v5pic {
  position: absolute;
  width: 450px;
  height: 362px;
  left: 800px;
  top: 58px;
}

.openinghours h2,
.location h2,
.admission h2,
.access h2,
.shop h2,
.foodndrink h2 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}

/*-- V1 --*/
.openinghours {
  position: absolute;
  color: black;
  left: 220px;
  top: 80px;
}

.openinghours p {
  line-height: 40px;
  font-size: 20px;
}

/*-- V2 --*/
.location {
  position: absolute;
  color: black;
  left: 800px;
  top: 80px;
}

.location a {
  width: 370px;
  line-height: 30px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.location a:hover {
  color: #50c9c3;
}

/*-- V3 --*/
.admission {
  position: absolute;
  color: white;
  left: 220px;
  top: 53px;
}

.admission p {
  width: 370px;
  line-height: 30px;
  font-size: 20px;
}

.access {
  position: absolute;
  color: white;
  left: 800px;
  top: 53px;
}

.access p {
  width: 370px;
  line-height: 30px;
  font-size: 20px;
}

/*-- V4 --*/
.shop {
  position: absolute;
  color: black;
  left: 220px;
  top: 140px;
}

.shop p {
  width: 370px;
  line-height: 30px;
  font-size: 20px;
}

/*-- V5 --*/
.foodndrink {
  position: absolute;
  color: black;
  left: 220px;
  margin-top: 163px;
}

.foodndrink p {
  width: 370px;
  line-height: 30px;
  font-size: 20px;
}

/*-- GET-INVOLVED --*/
.get-involved {
  position: relative;
  width: 424px;
  height: 106px;
  left: 220px;
  margin-top: 72px;
  margin-bottom: 28px;
}

.gi1,
.gi2,
.gi3 {
  position: relative;
  width: 100%;
  height: 652px;
}

.gi1,
.gi3 {
  background-color: white;
}

.gi2 {
  background: linear-gradient(90deg, #13547a 0%, #80d0c7 100%);
}

.gi1-text,
.gi3-text {
  position: absolute;
  color: black;
  left: 220px;
}

.gi2-text {
  position: absolute;
  color: white;
  left: 722px;
}

.gi1-text h2,
.gi2-text h2,
.gi3-text h2 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}

.gi1-text p,
.gi2-text p,
.gi3-text p {
  width: 500px;
  line-height: 30px;
  font-size: 20px;
}

.gi1-text p,
.gi3-text p {
  color: black;
  margin-top: 20px;
}

.gi2-text p {
  color: white;
  margin-top: 20px;
}

.gi1-text {
  margin-top: 138px;
}

.gi2-text {
  margin-top: 123px;
}

.gi3-text {
  margin-top: 162px;
}

.gi1-pic,
.gi2-pic,
.gi3-pic {
  position: absolute;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  width: 420px;
  height: 362px;
}

.gi1-pic,
.gi2-pic,
.gi3-pic {
  position: absolute;
}

.gi1-pic {
  left: 800px;
  margin-top: 138px;
}

.gi2-pic {
  left: 220px;
  margin-top: 143px;
}

.gi3-pic {
  left: 800px;
  margin-top: 139px;
}

/*-- FOOTER --*/
.footer {
  background: linear-gradient(90deg, #13547a 0%, #80d0c7 100%);
  position: relative;
  width: 100%;
  height: 500px;
}

.about h3,
.socials h3,
.fhours h3,
.contact h3 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}

.about,
.socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  top: 105px;
}

.about {
  left: 220px;
}

.socials {
  left: 395px;
}

.about a,
.socials a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  text-decoration: none;
  font-size: 20px;
}

.about a:hover,
.socials a:hover {
  color: cyan;
}

.fhours,
.contact {
  position: absolute;
  color: white;
  top: 105px;
}

.fhours {
  left: 594px;
}

.contact {
  left: 942px;
}

.fhours p,
.contact p {
  line-height: 30px;
  font-size: 20px;
}

.fline {
  position: absolute;
  color: white;
  border: 1px solid white;
  width: 1000px;
  top: 396px;
  left: 220px;
}

.copyright {
  position: absolute;
  color: white;
  top: 438px;
  left: 528px;
  font-size: 20px;
}

/*-- MEDIA-SCREEN --*/
@media screen and (max-width: 300px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 450px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .logo img {
    left: 30px;
    top: 400px;
  }
  .hero-text h1 {
    text-align: center;
    left: 0;
    top: 150px;
    font-size: 35px;
  }
  .box1 {
    height: 752px;
  }
  .box1-frame {
    top: 100px;
    left: 0;
    width: 100%;
    height: 500px;
  }
  .box1 h2 {
    font-size: 30px;
    left: 50px;
    top: 70px;
  }
  .box1 p {
    font-size: 18px;
    width: 80%;
    top: 60px;
  }
  .box1-btn {
    left: 50px;
    top: 380px;
  }
  .special-events img {
    width: 100%;
    left: 0px;
  }
  .ev1-title h2,
  .ev2-title h2,
  .ev3-title h2 {
    font-size: 25px;
    background: black;
    left: 0px;
    margin-top: 300px;
    padding-left: 20px;
  }
  .ev1,
  .ev2,
  .ev3 {
    height: 330px;
  }
  .ev3 {
    margin-bottom: 100px;
  }
  .ev1-text,
  .ev2-text,
  .ev3-text {
    left: 20px;
    width: 90%;
    font-size: 18px;
  }
  .ev1-btn {
    left: 20px;
    top: 200px;
  }
  .ev2-btn {
    left: 20px;
    top: 200px;
  }
  .ev3-btn {
    left: 20px;
    top: 230px;
  }
  .exploretitle {
    margin-top: 30px;
    left: 20px;
  }
  .exbox1-text h2,
  .exbox2-text h2,
  .exbox3-text h2 {
    font-size: 30px;
  }
  .exbox1-text p,
  .exbox2-text p,
  .exbox3-text p {
    font-size: 18px;
    width: 90%;
  }
  .exbox1 {
    height: 1300px;
  }
  .exbox1-text {
    margin-left: 20px;
    top: 600px;
  }
  .exbox1-pic,
  .exbox2-pic,
  .exbox3-pic {
    left: 0;
    top: 0;
    box-shadow: none;
  }
  .exbox2 {
    height: 850px;
  }
  .exbox2-text {
    margin-left: 20px;
    top: 390px;
  }
  .exbox3 {
    height: 850px;
  }
  .exbox3-text {
    margin-left: 20px;
    top: 390px;
  }
  .exhtitle {
    left: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .ex1,
  .ex2,
  .ex3,
  .ex4,
  .ex5 {
    height: 900px;
  }
  .ex5 {
    margin-bottom: 50px;
  }
  .ex1pic,
  .ex2pic,
  .ex3pic,
  .ex4pic,
  .ex5pic {
    margin-top: 0;
    left: 0;
  }
  .ex1text,
  .ex2text,
  .ex3text,
  .ex4text,
  .ex5text {
    left: 20px;
    top: 400px;
  }
  .ex1text h2,
  .ex2text h2,
  .ex3text h2,
  .ex4text h2,
  .ex5text h2 {
    font-size: 30px;
  }
  .ex1text p,
  .ex2text p,
  .ex3text p,
  .ex4text p,
  .ex5text p {
    font-size: 18px;
    width: 95%;
  }
  .ex1-hyper a {
    left: 20px;
    top: 730px;
  }
  .ex3-hyper a {
    left: 20px;
    top: 770px;
  }
  .ex4-hyper a {
    left: 20px;
    top: 640px;
  }
  .ex2-hyper a {
    left: 20px;
    top: 700px;
  }
  .ex5-hyper a {
    left: 20px;
    top: 760px;
  }
  .vhero {
    display: none;
  }
  .vstitle {
    left: 20px;
  }
  .about1 {
    height: 1000px;
  }
  .ab1-text,
  .ab2-text {
    width: 90%;
    left: 20px;
  }
  .ab1-text {
    top: 0;
  }
  .ab2-text {
    top: 530px;
  }
  .ab-img {
    display: none;
  }
  .ab-logo {
    left: 0;
    top: 890px;
  }
  .v2,
  .v3,
  .v4,
  .v5 {
    height: 700px;
  }
  .v4pic,
  .v5pic {
    top: 0;
    left: 0;
  }
  .openinghours h2,
  .location h2,
  .admission h2,
  .access h2,
  .shop h2,
  .foodndrink h2 {
    font-size: 30px;
  }
  .openinghours p,
  .location p,
  .admission p,
  .access p,
  .shop p,
  .foodndrink p {
    font-size: 18px;
  }
  .openinghours {
    left: 60px;
    text-align: center;
  }
  .location {
    left: 20px;
    top: 500px;
    text-align: center;
  }
  .admission {
    left: 20px;
    text-align: center;
  }
  .access {
    left: 20px;
    top: 500px;
    text-align: center;
  }
  .shop {
    left: 20px;
    top: 350px;
    text-align: center;
  }
  .foodndrink {
    left: 20px;
    top: 200px;
    text-align: center;
  }
  .get-involved {
    left: 0;
  }
  .gi1,
  .gi2,
  .gi3 {
    height: 1000px;
  }
  .gi1-text,
  .gi2-text,
  .gi3-text {
    left: 20px;
  }
  .gi1-text {
    top: 250px;
  }
  .gi2-text {
    top: 270px;
  }
  .gi3-text {
    top: 230px;
  }
  .gi1-text h2,
  .gi2-text h2,
  .gi3-text h2 {
    font-size: 30px;
  }
  .gi1-text p,
  .gi2-text p,
  .gi3-text p {
    font-size: 18px;
    width: 90%;
  }
  .gi1-pic,
  .gi2-pic,
  .gi3-pic {
    margin-top: 0;
    left: 0;
    box-shadow: none;
  }
  .footer {
    height: 1125px;
  }
  .about h3,
  .socials h3,
  .fhours h3,
  .contact h3 {
    font-size: 20px;
  }
  .about {
    left: 20px;
    top: 50px;
  }
  .socials {
    left: 200px;
    top: 50px;
  }
  .about a,
  .socials a {
    font-size: 18px;
  }
  .fhours {
    top: 300px;
    left: 20px;
  }
  .contact {
    top: 600px;
    left: 20px;
  }
  .fline {
    top: 900px;
    left: 0px;
    width: 100%;
  }
  .copyright {
    left: 20px;
    top: 950px;
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 750px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
